              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/distributed_system.html">
                      分布式
                    </a>
                  </li>
                  <li>
                    <a href="/posts/essay.html">
                      散文小说
                    </a>
                  </li>
                  <li>
                    <a href="/posts/client_dev.html">
                      移动开发
                    </a>
                  </li>
                  <li>
                    <a href="/about.html">
                      关于我
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/ml.html">
                      机器学习
                    </a>
                  </li>                  
		              <li>
                    <a href="/posts/server.html">
                      服务端技术
                    </a>
                  </li>
                  <li>
                    <a href="/posts/poems.html">
                      我的诗词
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
