              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/android.html">
                      Android开发
                    </a>
                  </li>
                  <li>
                    <a href="/posts/poems.html">
                      我的诗词
                    </a>
                  </li>
                  <li>
                    <a href="/about.html">
                      关于
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/ios.html">
                      iOS开发
                    </a>
                  </li>                  
		  <li>
                    <a href="/posts/server.html">
                      服务器架构
                    </a>
                  </li>
                  <li>
                    <a href="/posts/other.html">
                      杂记
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
