            <ul class="list-unstyled">
              <li>
                <a href="http://blog.sina.com.cn/zhtielei">
                  铁蕾的新浪博客
                </a>
              </li>
              <li>
                <a href="http://weibo.com/tielei">
                  铁蕾的新浪微博
                </a>
              </li>
              <li>
                <a href="http://www.panxw.com/">
                  Panxw's Blog
                </a>
              </li>
              <li>
                <a href="https://github.com/">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://highscalability.com/">
                  High Ssalability
                </a>
              </li> 
              <li>
                <a href="http://db-engines.com/en/">
                  DB-Engines
                </a>
              </li> 
               <li>
                <a href="https://news.ycombinator.com/">
                  Hacker News
                </a>
              </li>        
              <li>
                <a href="http://www.stackoverflow.com/">
                  Stack Overflow
                </a>
              </li>
              <li>
                <a href="http://developer.android.com/">
                  Android Developer
                </a>
              </li>
              <li>
                <a href="https://developer.apple.com/">
                  iOS Developer
                </a>
              </li>
              <li>
                <a href="https://bitbucket.org/">
                  Bitbucket.org
                </a>
              </li> 
            </ul>
